{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": "src",
    "paths": {
      "@common/*": ["common/*"],
      "@config/*": ["config/*"],
      "@database/*": ["database/*"],
      "@cache/*": ["cache/*"],
      "@queue/*": ["queue/*"],
      "@modules/*": ["modules/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
